src/main/schema/asx/asx-3.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
  Unofficial ASX (Windows Media Metafile Playlist) Schema

  Written by Borewit on 10-03-2023

  The schema is optimized for JXC/JAXB
  - The xs:sequence should be interpreted as unordered
  - ASX tags and attributes should be read as case-insensitive

-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!--
        ASX Element
        https://learn.microsoft.com/windows/win32/wmp/asx-element
    -->
    <xs:element name="ASX">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ContainerElement">
                    <xs:sequence>
                        <xs:element ref="REPEAT" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="SKIN" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>

                    <!-- Decimal number representing the version number of the syntax for the metafile. Set to 3 or 3.0. -->
                    <xs:attribute name="VERSION" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="3"/>
                                <xs:enumeration value="3.0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>

                    <!-- Value indicating whether Windows Media Player enters preview mode before playing the first clip. -->
                    <xs:attribute name="PREVIEWMODE" use="optional" type="BooleanType"/>

                    <!-- Value indicating whether Windows Media Player reserves space for a banner graphic. -->
                    <xs:attribute name="BANNERBAR">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="AUTO"/>
                                <xs:enumeration value="FIXED"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!--
        ABSTRACT Element
        https://learn.microsoft.com/windows/win32/wmp/abstract-element
    -->
    <xs:element name="ABSTRACT">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>

    <!--
        AUTHOR Element
        https://learn.microsoft.com/windows/win32/wmp/author-element
    -->
    <xs:element name="AUTHOR">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>

    <!--
        BANNER Element
        https://learn.microsoft.com/windows/win32/wmp/banner-element
    -->
    <xs:element name="BANNER">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="ABSTRACT" minOccurs="0"/>
                <xs:element ref="MOREINFO" minOccurs="0" maxOccurs="1"/>
            </xs:choice>
            <xs:attribute name="HREF" type="xs:anyURI" use="required"/>
        </xs:complexType>
    </xs:element>

    <!--
        BASE Element
        https://learn.microsoft.com/windows/win32/wmp/base-element
    -->
    <xs:element name="BASE">
        <xs:complexType>
            <xs:attribute name="HREF" type="xs:anyURI" use="required"/>
        </xs:complexType>
    </xs:element>

    <!--
        COPYRIGHT Element
        https://learn.microsoft.com/windows/win32/wmp/copyright-element
    -->
    <xs:element name="COPYRIGHT">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>

    <!--
        DURATION Element
        https://learn.microsoft.com/windows/win32/wmp/duration-element
    -->
    <xs:element name="DURATION" type="DurationElement"/>

    <!--
        STARTTIME Element
        https://learn.microsoft.com/windows/win32/wmp/starttime-element
    -->
    <xs:element name="STARTTIME" type="DurationElement"/>

    <!--
        ENTRY Element
        https://learn.microsoft.com/windows/win32/wmp/entry-element
    -->
    <xs:element name="ENTRY">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BaseEntryElement">
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" ref="DURATION"/>
                        <xs:element minOccurs="0" maxOccurs="1" ref="ENDMARKER"/>
                        <xs:element minOccurs="0" maxOccurs="1" ref="REF"/>
                        <xs:element minOccurs="0" maxOccurs="1" ref="STARTTIME"/>
                    </xs:sequence>
                    <!-- Value indicating whether the user can skip forward past the clip. -->
                    <xs:attribute name="CLIENTSKIP" type="BooleanType" use="optional"/>
                    <!-- Value indicating whether Windows Media Player should skip this clip when the ENTRY element is included in a second metafile through the use of an ENTRYREF element. -->
                    <xs:attribute name="SKIPIFREF" type="BooleanType" use="optional"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!--
       MOREINFO Element
       https://learn.microsoft.com/windows/win32/wmp/moreinfo-element
    -->
    <xs:element name="MOREINFO">
        <xs:complexType>
            <xs:attribute name="HREF" type="xs:anyURI" use="required"/>
            <xs:attribute name="TARGET" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="_blank"/>
                        <xs:enumeration value="_self"/>
                        <xs:enumeration value="_parent"/>
                        <xs:enumeration value="_top"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <!--
       PARAM Element
       https://learn.microsoft.com/windows/win32/wmp/param-element
    -->
    <xs:element name="PARAM">
        <xs:complexType>
            <xs:attribute name="NAME" type="xs:string" use="required"/>
            <xs:attribute name="VALUE" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <!--
        REF Element
        https://learn.microsoft.com/windows/win32/wmp/ref-element
    -->
    <xs:element name="REF" type="RefElement"/>

    <!--
        REPEAT Element
        https://learn.microsoft.com/windows/win32/wmp/repeat-element
    -->
    <xs:element name="REPEAT">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ContainerElement">
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" ref="BASE"/>
                        <xs:element minOccurs="0" maxOccurs="1" ref="DURATION"/>
                        <xs:element minOccurs="0" maxOccurs="1" ref="ENDMARKER"/>
                        <xs:element minOccurs="0" maxOccurs="1" ref="REF"/>
                        <xs:element minOccurs="0" maxOccurs="1" ref="STARTTIME"/>
                    </xs:sequence>
                    <xs:attribute name="COUNT" type="xs:int"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!--
        SKIN Element
        https://learn.microsoft.com/windows/win32/wmp/skin-element
    -->
    <xs:element name="SKIN" type="RefElement"/>

    <!--
        STARTMARKER  Element
        https://learn.microsoft.com/windows/win32/wmp/startmarker-element
    -->
    <xs:element name="STARTMARKER">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="MarkerElement"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!--
        ENDMARKER Element
        https://learn.microsoft.com/windows/win32/wmp/endmarker-element
    -->
    <xs:element name="ENDMARKER">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="MarkerElement"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!--
    ENTRYREF Element
        https://learn.microsoft.com/windows/win32/wmp/entryref-element
    -->
    <xs:element name="ENTRYREF" type="RefElement"/>

    <!--
        EVENT Element
        https://learn.microsoft.com/windows/win32/wmp/event-element
    -->
    <xs:element name="EVENT">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ContainerElement">
                    <xs:attribute name="NAME" type="xs:string" use="required"/>
                    <xs:attribute name="WHENDONE" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="RESUME"/>
                                <xs:enumeration value="NEXT"/>
                                <xs:enumeration value="BREAK"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>


    <!--
        TITLE Element (metafile)
        https://learn.microsoft.com/windows/win32/wmp/endmarker-element
    -->
    <xs:element name="TITLE">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>


    <!-- Shared common structure between ASX and ENTRY Element -->
    <xs:complexType name="BaseEntryElement">
        <xs:sequence>
            <xs:element ref="ABSTRACT" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="AUTHOR" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="BANNER" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="BASE" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="COPYRIGHT" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="MOREINFO" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="PREVIEWDURATION" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="TITLE" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="PARAM" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="PREVIEWDURATION" type="DurationElement"/>

    <!--
        Common structure for STARTMARKER & ENDMARKER element
    -->
    <xs:complexType name="MarkerElement">
        <xs:attribute name="NUMBER" type="xs:decimal" use="optional"/>
        <xs:attribute name="NAME" type="xs:string" use="optional"/>
    </xs:complexType>

    <!--
        Common element with the HREF attribute
    -->
    <xs:complexType name="RefElement">
        <xs:attribute name="HREF" type="xs:string" use="required"/>
    </xs:complexType>

    <!--
        Container element
        Abstract element holding entries
    -->
    <xs:complexType name="ContainerElement">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="ENTRY" minOccurs="0"/>
            <xs:element ref="ENTRYREF" minOccurs="0"/>
        </xs:choice>
    </xs:complexType>

    <xs:simpleType name="BooleanType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="DurationElement">
        <xs:attribute name="VALUE" type="xs:string" use="required"/>
    </xs:complexType>

</xs:schema>
